@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-images-slider .slick-dots {
  bottom: 16px;
}

.post-images-slider .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.post-images-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}

.post-images-slider .slick-prev,
.post-images-slider .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.post-images-slider .slick-prev {
  left: 16px;
}

.post-images-slider .slick-next {
  right: 16px;
}

.post-images-slider .slick-prev:before,
.post-images-slider .slick-next:before {
  font-size: 40px;
}
